<!DOCTYPE html>
<html lang="en">
<!-- 全局模版文件，如果存在该文件，会作为默认模版 -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="<%= context.config.publicPath %>" />
</head>

<body>
    <div id="app">ejs template:</div>
</body>

</html>