<!DOCTYPE html>
<html lang="en">
  <!-- 全局模版文件，如果存在该文件，会作为默认模版 -->

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="<%= context.config.publicPath %>"
    />
  </head>

  <body>
    <div>
      默认ejs文件(整个项目会被渲染到/page/document.ejs文件下，清除id="root"的内容并渲染）
    </div>
  </body>
</html>
