.home {

	// menu icon图标
	.icon {
		width: 100px;
		height: 100px;
		border-radius: 10px;
		border: 1px solid #ddd;

		&:hover {
			cursor: pointer;
			background: #afeaea;
		}
	}

	// 右上角日历
	.calendar {
		position: absolute;
		right: 20px;
		top: 20px;
	}

	// 右下角用户登录工具
	.userTool {
		position: absolute;
		right: 30px;
		bottom: 30px;
		width: 60px;
		height: 60px;

		// 后台按钮
		.backward {
			position: absolute;
			left: 10px;
			top: 10px;
			overflow: hidden;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			opacity: 0.5;
			background: purple;
			transition: 1s;
		}

		// 登录按钮
		.login {
			position: absolute;
			left: 10px;
			top: 10px;
			overflow: hidden;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			opacity: 0.5;
			background: tan;
			transition: 2s;
		}

		// 背景按钮
		.background {
			position: absolute;
			left: 10px;
			top: 10px;
			overflow: hidden;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			opacity: 0.5;
			background: oldlace;
			transition: 2s;
		}

		// 用户头像
		.userHeader {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 502;
			background: pink;
			border-radius: 50%;
			width: 60px;
			height: 60px;

			&:hover {
				&+.backward {
					opacity: 1;
					transform: rotate(-360deg);
					left: 0px;
					top: -60px;
				}

				&~.login {
					opacity: 1;
					transform: rotate(-360deg);
					left: -56px;
					top: -26px;
				}

				&~.background {
					opacity: 1;
					transform: rotate(-360deg);
					left: -52px;
					top: 42px;
				}
			}
		}
	}
}